body {
    height: 100vh;
    overflow: hidden;
}

.br10-rem {
    border-radius: 10rem;
}

.h-full {
    height: 100%
}

/*媒体查询*/
/*当页面大于1200px 时，大屏幕，主要是PC 端*/
@media (min-width: 1200px) {
    #toggle-button {
        display: none;
    }
}

/*!*在992 和1199 像素之间的屏幕里，中等屏幕，分辨率低的PC*!*/
@media (min-width: 992px) and (max-width: 1199px) {
    #old-side {
        display: none !important;
    }

    #toggle-button {
        display: none;
    }

    .old {
        display: none;
    }
}

/*!*在768 和991 像素之间的屏幕里，小屏幕，主要是PAD*!*/
@media (min-width: 768px) and (max-width: 991px) {
    #old-side {
        display: none !important;
    }

    .old {
        display: none;
    }

}

/*!*在480 和767 像素之间的屏幕里，超小屏幕，主要是手机*!*/
@media (min-width: 480px) and (max-width: 767px) {
    #old-side {
        display: none !important;
    }

    .old {
        display: none;
    }

    .table thead th:last-child, .table tbody tr td:last-child {
        display: none;
    }

}

/*!*在小于480 像素的屏幕，微小屏幕，更低分辨率的手机*!*/
@media (max-width: 479px) {
    #old-side {
        display: none !important;
    }

    .old {
        display: none;
    }

    .filter {
        text-align: left !important;
    }

    .table thead th:nth-child(1), .table thead th:last-child, .table tbody tr th, .table tbody tr td:last-child {
        display: none;
    }
}

.shard-bg {
    background-color: #41476B;
    color: white;
}

.fcb {
    color: white;
}

.b1 {
    border: 1px solid #41476B;
}

.bb1 {
    border-bottom: 1px solid #41476B;
}

.btb {
    border-top: 1px solid #41476B;
    border-bottom: 1px solid #41476B;
}

.name {
    padding: 0 14px;
    outline: none;
    color: #fff;
    min-height: 38px;
    line-height: 28px;
    background-color: transparent;
    border-top: 1px solid #41476B;
    border-bottom: 1px solid #41476B;
    border-right: 1px solid #41476B;
    border-left: none;
    border-radius: 22px;
    max-width: 100%;
}

.name:focus {
    background-color: transparent;
    outline: none;
    border-color: #41476B;
    box-shadow: 0 0 5px rgba(207, 220, 0, 0);
}

#basic-addon1 {
    background-color: transparent;
    border-top: 1px solid #41476B;
    border-bottom: 1px solid #41476B;
    border-left: 1px solid #41476B;
    border-right: none;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}

.pools-button:hover {
    color: white;
}

.about-content {
    margin: 2rem auto;
    width: 90%;
    border-radius: .5rem;
}